<div class="wrapper">
 <!--<mt-header></mt-header> fica fixo na pagina, como os menus Portinari porém logo abaixo <div class="content-wrapper" temos
os componentes que serão dinámicos, pela rota <router-outlet></router-outlet>-->
  <mt-header></mt-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <!--<mt-home></mt-home> este foi substituido por <router-outlet>-->
      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Meat</strong> Angular Application
    </div>
  </footer>
</div>
