<div class="form-group" [class.has-success]="input2.valid && (input2.dirty || input2.touched)"
                        [class.has-error]="!input2.valid && (input2.dirty || input2.touched)">
  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> {{label}}</label>

  <!-- <input type="text" class="form-control" name="address" required minlength="5" maxlength="10" #iptAddress="ngModel" ngModel placeholder="Endereço" autocomplete="off">-->
  <!-- inves de usar este código acima vou usar este abaixo <ng-content>  aula-61 este ng-content é similar a <outer-outlet> pois neste lugar irá entrar um conteudo-->
 <ng-content></ng-content>


  <span class="help-block" *ngIf="input2.valid && (input2.dirty || input2.touched)"><i class="fa fa-check"></i>Ok</span>
  <span class="help-block" *ngIf="!input2.valid && (input2.dirty || input2.touched)"><i class="fa fa-remove"></i> {{errorMessage}}</span>
</div>
